.community-card {
  margin: 0 10px 10px;

  .ant-card-body {
    padding: 10px;

    .card-bottom {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .card-title {
        margin-bottom: 8px;
      }

      .user-like {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          color: black;
          font-size: 12px;
          margin-right: 20px;
        }

        span {
          color: black;
          font-size: 12px;
        }
      }
    }
  }
}